<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
      <div class="ml-auto p-2 bd-highlight">
        <% if (users[userId]) { %>
        <form class="form-inline" method="POST" action="/logout">
          <span style="width:300px;">Logged in As: <%=users[userId].email %></span>
          <button style="width:100px;" type="submit" class="btn btn-outline-dark">Log out</button>
        </form>
        <% } else { %>
        <span class="form-inline">
          <form method="GET" action="/login">
            <button style="width:100px;" type="submit" class="btn btn-outline-dark">Log in</button>
          </form>
          <form method="GET" action="/register">
            <button style="width:100px;" type="submit" class="btn btn-outline-dark">Register</button>
          </form>
        </span>
        <% } %>
      </div>
    </div>
  </nav>
</header>